<div class="main">
  <div *ngFor="let post of posts">
    <div class="post">
      <div class="header">
        <h3> {{post.header}}</h3>
      </div>
      <div class="text">
        {{post.text}}
      </div>
       <div class ="wrapper"><button mat-button (click)="selectAnswer('x', post.id)">{{post.x}}</button></div>
       <div class ="wrapper"><button mat-button (click)="selectAnswer('y', post.id)">{{post.y}}</button></div>
       <div class ="wrapper"><button mat-button (click)="selectAnswer('z', post.id)">{{post.z}}</button></div>
    </div>

    <div *ngIf="(isAnswerCorrect && (post.id === correctAnswerId))">
      <div class="correctAnswer">Correct answer!</div>
    </div>
  
    <div *ngIf="(!isAnswerCorrect))">
        <div class="wrongAnswer">Wrong answer!</div>
      </div>
  </div>

</div>